---
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="flex max-w-screen-md flex-col mx-auto justify-center prose">
    <h1 class="text-center w-full">liên lạc</h1>

    <div>
      <ul class="inline-flex flex-col justify-center w-full">
        <li>
          <span>Company name</span>
          <h3>SHAIGAN PHARMACEUTICALS (PRIVATE) LIMITED.</h3>
        </li>
        <!-- <li>
          <span>Техническая поддержка:</span>
          <a href="mailto:support@microzaimkzonline.com">support@microzaimkzonline.com</a>
        </li> -->
        <li>
          <span>Phone:</span>
          <a href="tel:92-3414997665">92-3414997665</a>
        </li>
        <li>
          <span>Street address</span>
          <address>
            14 KM, Adiala Road Post Office Dahgal Rawalpindi, Punjab null
            Pakistan
          </address>
        </li>
      </ul>
    </div>
  </div>
</Base>
