---
import Base from './Base.astro'
---
<Base title={Astro.props.frontmatter.title}>
  <article class="prose mx-auto lg:prose-xl mt-20">
    <a href="/" style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
      <svg width="14" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"></path></svg><span>Back</span></a>
    <slot/>
  </article>

</Base>